<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Products Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Warehouse</a>
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> New Product </h1>
				<div class = "card-body">
					<form th:action="@{/products/create}" th:object = "${product}" method="POST">
					<div class ="form-group">
							<label> Bill Number </label>
							<input
							type = "text"
							name = "billNumber"
							th:field = "*{billNumber}"
							class = "form-control"
							placeholder= "Bill Number" 
							/>
							<span th:if="${#fields.hasErrors('billNumber')}" class="text-danger" th:errors="*{billNumber}">
							</span>
						</div>
						
						<div class ="form-group">
							<label> Date </label>
							<input
							type = "date"
							name = "date"
							th:field = "*{date}"
							class = "form-control"
							placeholder= "Date"
							/>
							<span th:if="${#fields.hasErrors('date')}" class="text-danger" th:errors="*{date}">
							</span>
						</div>
						
						<div class ="form-group">
							<label> Product Name </label>
							<input
							type = "text"
							name = "name"
							th:field = "*{name}"
							class = "form-control"
							placeholder="Product Name" 
							/>
							<span th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}">
							</span>
						</div>
						
						<div class ="form-group">
							<label> Product Quantity (SI)</label>
							<input
							type = "text"
							name = "quantity" 
							th:field = "*{quantity}"
							class = "form-control"
							placeholder="Product Quantity"
							/>
							<span th:if="${#fields.hasErrors('quantity')}" class="text-danger" th:errors="*{quantity}"></span>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
							Save
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>