<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Products Management System</title>
<link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
 crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Warehouse</a>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> Products List </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/products/new}" class = "btn btn-primary btn-sm mb-3"> Add Product</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
				   <th>Bill Number</th>
				    <th> Date </th>
					<th> Product Name</th>
					<th> Product quantity (SI)</th>
					<th> Actions </th>
				</tr>
			</thead>
			   
			<tbody>
				<tr th:each = "product: ${products}">
				    <td th:text = "${product.billNumber}"></td>
				    <td th:text = "${product.date}"></td>
					<td th:text = "${product.name}"></td>
					<td th:text = "${product.quantity}"></td>
					
					<td>
						<a th:href = "@{/products/edit/{id}(id=${product.id})}"
						 class = "btn btn-primary">Update Product</a>
					
					
						<a th:href = "@{/products/delete/{id}(id=${product.id})}"
						 class = "btn btn-danger" onclick="return confirm('Delete this item?');">Remove Product</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>